* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #222831;
  color: #dfd0b8;
  padding: 1rem;
}

header {
  margin-bottom: 10px;
}

main {
  display: grid;
  gap: 1ch;
}

.episode-list h2 {
  margin-bottom: 10px;
}

.episode-list ul {
  display: grid;

  list-style-type: none;
  padding: 0.25rem;
}

.episode-list .episode-card {
  padding: 2ch;
  border-bottom: 1px solid #393e46;
}

.episode-card:last-child {
  border: 0;
}

.episode-list .episode-card:hover {
  cursor: pointer;
  background-color: #393e46;
}

.episode-details {
  padding: 0.25rem;
}

.episode-details h2 {
  margin-bottom: 10px;
}

.episode-details .episode-info-text {
  margin-bottom: 10px;
}

.watch-now-button {
  background-color: #dfd0b8;
  color: #393e46;
  border: none;
  padding: 10px;
  width: 100%;
}

.watch-now-button:hover {
  cursor: pointer;
}

.watch-now-button:active {
  background-color: #393e46;
  color: #948979;
}

.player {
  margin-top: 30px;
}

@media (width >= 500px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}
